body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, grey, white);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #ff4081;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: red;
}

#song-info {
    background: black;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

#recommendations {
    list-style: none;
    padding: 0;
}

#recommendations li {
    background: black;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}